@model IEnumerable<Infraestructure.Models.ORDEN>
@{ ViewBag.Title = "Mis Órdenes";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";

    string FormatearFecha(DateTime fecha)
    {
        return fecha.ToString("dd/MM/yyyy");
    }
}

<header style="padding: 20px; width: 100%; background-color: #F78935">
    <h3 class="text-center text-white mb-4">Gestión de Órdenes</h3>
</header>

<div class="d-flex justify-content-center align-content-center align-items-center mt-4">
    <div class="mx-2 my-2 mb-4">
        <label>Filtro por código: </label>
    </div>
    <div>
        @Html.TextBox("filtro", "",
                                                                                 new
                                                                                 {
                                                                                     @class = "form-control"
                                                                                 })
    </div>
    <div>
        <button class="botones mx-2"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</div>

<div class="row text-center pt-4">
    @if (@ViewBag.listaVacia == null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.ID_ORDEN)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.USUARIO)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ESTADO_ORDEN)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.FECHA)</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row" class="w-25">
                            @Html.DisplayFor(modelItem => item.ID_ORDEN)
                        </th>
                        <td class="pt-4">
                            @Html.DisplayFor(modelItem => item.USUARIO.NOMBRE)
                        </td>
                        <td class="pt-4">
                            @Html.DisplayFor(modelItem => item.ESTADO_ORDEN1.ESTADO)
                        </td>
                        <td class="pt-4">
                            @FormatearFecha(item.FECHA)
                        </td>
                        <td class="d-flex justify-content-evenly text-center">
                            <a href="@Url.Action("DetalleOrden", "Orden", new {id = item.ID_ORDEN})" class="btn btn-primary btnAccion"><i class="fa-solid fa-circle-info"></i> Detalle</a>
                            <a href="@Url.Action("Index", "Factura", new {id = item.ID_ORDEN})" class="btn btn-primary btnAccion"><i class="fa-regular fa-credit-card"></i> Pagar</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger d-flex align-items-center mx-2" role="alert">
            @ViewBag.listaVacia
        </div>
    }
</div>