@model Infraestructure.Models.MESA
@{
    ViewBag.Title = "Detalle Mesa";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

<header style="padding: 20px; width: 100%; background-color: #F78935">
    <h3 class="text-center text-white">Detalle Mesa</h3>
</header>

<div class="text-start mt-4">
    <a class="ps-2 enlaceVolver" href="@Url.Action("Index", "Mesas")"><i class="fa-solid fa-arrow-left"></i>Volver</a>
</div>

<div class="d-flex justify-content-center align-content-center align-items-center p-3 mt-2 pt-5 pb-4">

    <div class="d-block text-center mx-4">
        <div class="text-center">
            <button style="padding: 15px; border: none; background-color: #119C00;" disabled></button>
        </div>
        <div class="text-center ms-1">
            <p class="d-block">Disponible</p>
        </div>
    </div>

    <div class="d-block text-center mx-4">
        <div class="text-center">
            <button style="padding: 15px; border: none; background-color: #D32828;" disabled></button>
        </div>
        <div class="text-center ms-1">
            <p class="d-block">Ocupada</p>
        </div>
    </div>

    <div class="d-block text-center mx-4">
        <div class="text-center">
            <button style="padding: 15px; border: none; background-color: #0416CB; " disabled></button>
        </div>
        <div class="text-center ms-1">
            <p class="d-block">Reservada</p>
        </div>
    </div>

    <div class="d-block text-center mx-4">
        <div class="text-center">
            <button style="padding: 15px; border: none; background-color: #5271FF; " disabled></button>
        </div>
        <div class="text-center ms-1">
            <p class="d-block">Orden Registrada</p>
        </div>
    </div>

    <div class="d-block text-center mx-4">
        <div class="text-center">
            <button style="padding: 15px; border: none; background-color: #737373; " disabled></button>
        </div>
        <div class="text-center ms-1">
            <p class="d-block">Por Pagar</p>
        </div>
    </div>

    <div class="d-block text-center mx-4">
        <div class="text-center">
            <button style="padding: 15px; border: none; background-color: black; " disabled></button>
        </div>
        <div class="text-center ms-1">
            <p class="d-block">Inactiva</p>
        </div>
    </div>
</div>

<div class="row text-center pt-4" style="margin-bottom:8%;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.COD_MESA)</th>
                <th scope="col"><label>Estado Mesa</label></th>
                <th scope="col">@Html.DisplayNameFor(model => model.CAPACIDAD)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RESTAURANTE)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.RESTAURANTE.UBICACION)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    @Html.DisplayFor(model => model.COD_MESA)
                </th>
                <td>
                    @switch (Model.ID_ESTADO_MESA)
                    {
                        case 1:
                            <img style="width: 30px;" src="~/Resources/verde.png" />
                            break;
                        case 2:
                            <img style="width: 30px;" src="~/Resources/rojo.png" />
                            break;
                        case 3:
                            <img style="width: 30px;" src="~/Resources/azul.png" />
                            break;
                        case 4:
                            <img style="width: 30px;" src="~/Resources/celeste.png" />
                            break;
                        case 5:
                            <img style="width: 30px;" src="~/Resources/gris.png" />
                            break;
                        case 6:
                            <img style="width: 30px;" src="~/Resources/negro.png" />
                            break;
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => model.CAPACIDAD)
                </td>
                <th scope="row">
                    @Html.DisplayFor(model => model.RESTAURANTE.NOMBRE)
                </th>
                <td>
                    @Html.DisplayFor(model => model.RESTAURANTE.UBICACION)
                </td>
            </tr>
        </tbody>
    </table>
</div>